.slider {
    min-width: 100px;
    position: relative;
    width: 100px;
    height: 190px;
    overflow: hidden;
    margin: 0 20px 0 20px;
}

.slider_big {
    min-width: 370px;
    height: 340px;
    margin: 0 20px 0 0;
}

.slider__container {
    display: flex;
}

.slider__slide {
    flex-shrink: 0;
    width: 100%;
}

.slider__image {
    object-fit: contain;
    text-align: center;
    width: 70px;
    height: 160px;
}

.slider__image_big {
    height: 340px;
    margin-left: 35px ;
    width: 300px;
}

.slider__controls {
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    width: 80%;
    height: 2px;
    justify-content: space-between;
}

.slider__controls_big {
    margin-top: -180px;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.59);
}


.slider__controls_control {
    color: rgba(0, 0, 0, 0.59);
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    outline: none;
}

.slider__control_big {
    color: rgb(0, 0, 0);
    background-color: rgb(128, 128, 128);
}

.fa-chevron-left {
    margin-left: -5px;
    font-size: 17px;
}

.fa-chevron-right {
    font-size: 17px;
}

.slider__controls_control:hover {
    transform: scale(1.2);
}

.slider__control--prev {
    margin-left: 1rem;
}

.slider__control--next {
    margin-right: 1rem;
}
