.marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.marker-circle.product-color {
    border: 1px solid;
    background-color: rgb(0, 149, 255);
}

.marker-circle.category-color {
    border: 1px solid;
    background-color: #FFA500;
}

.marker-circle-empty {
    border: 1px solid;
}

.marker-square {
    border: 1px solid;
    width: 8px;
    height: 8px;
    border-radius: 0;
}

.marker-square.product-color {
    background-color: rgb(0, 149, 255);
}

.marker-square.category-color {
    background-color: #FFA500;
}

.marker-inline {
    vertical-align: middle;
}

.product-color {
    color: rgb(0, 149, 255);
}

.category-color {
    color: #FFA500;
    margin-bottom: 2px;
}


.menu_modal {
    position: absolute;
    top: 50px;
    left: -400px;
    width: 400px;
    padding-left: 30px;
    background-color: rgba(241, 241, 241, 0.94);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-out;
    z-index: 999;
}

.menu_modal-open {
    left: 0;
}


