.header-right {
    display: flex;
    justify-content: flex-end;
}

.catalog {
    color: red;
}

.main_header {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

.addBut {
    font-weight: var(--font-weight-bold);
    width: 30px;
    height: 30px;
    background-color: rgb(50, 50, 100);
    border-radius: 4px;
    border-style: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.button__send {
    height: 35px;
    padding: 0 10px;
    background-color: green;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.breadcrumb {
    justify-content: center;
}

.filterInput {
    width: 100px;
}

